<%= javascript_include_tag Ckeditor.cdn_url %>

<%= form_for @workout do |f| %>
  <% if @workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>
      <ul>
      <% @workout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :scheduled_on %><br />
    <%= f.text_field :scheduled_on, class: 'form-control scheduled-on' %>
  </div>
  
  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.cktext_area :content, rows: 100, class: 'form-control' %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>