<h2><%= link_to blog.name, blog, class: 'blog-list-title' %></h2>
	<p><%= markdown blog.content.truncate(300, separator: ' ') %></p><br />
		<p>
		  Tags: <%= raw blog.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' | ') %>
		</p>
	<p><%= link_to "Edit Blog", edit_blog_path(blog), class: 'btn btn-light' if current_admin %></p>
	<p><%= link_to "Delete", blog_path(blog), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this blog post?' } if current_admin %></p>
<hr>