<% title @blog.name %>
<% meta_tag :description, @blog.tags.collect {|t| t.name}.join('-') %>

<div class="container">
	<h1 class="blog-show-title">
		<%= @blog.name %>
	</h1>
	<lead>By <%= @blog.author %></lead>
	<p>
		<small>Tags: <%= raw @blog.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(' | ') %></small>
		<%= link_to 'All Posts <i class="fa fa-list-ul"></i>'.html_safe, blogs_path, class: 'btn btn-light pull-right' %>
	</p>
	<hr>
	<div class="blog-show-content col-md-10">
		<p class="text-center"><%= markdown @blog.content %></p>
	</div>
</div>