<% title 'Meet The Owners' %>
<% meta_tag :description, 'Meet the owners of Prime Performance Strength & Conditioning' %>

<div id="coaches-page" class="home-section-3">		
	<h1>
		Meet the owners
	</h1>
	<hr>
		<div class="container">
			<div class="row justify-content-center">
				<div class="card col-md-5">
				  <%= image_tag 'blake_snatch1.jpg', class: 'card-img-top', alt: 'Blake Barnes', title: 'Blake Barnes' %>
				  <div class="card-body">
				    <h5 class="card-title">Blake Barnes, B.S. (Kinesiology)</h5>
				    <hr>
				    <p class="card-text">Owner/Coach</p>
				    <p class="card-text">Former strength & conditioning coach at Stanford University and East Central University</p>
				    <p class="card-text">National-level Olympic weightlifter</p>
				    <p class="card-text">Former collegiate football player (ECU)</p>
				    <p class="card-text">Owner: <%= link_to 'Oklahoma Weightlifting Club', 'https://www.oklahomaweightliftingclub.com', title: 'Oklahoma Weightlifting Club' %></p>
				    <%= mail_to 'blake@primeperformancesc.com', 'Contact Blake', class: 'btn btn-primary', title: 'Contact Blake' %>
				  </div>
				</div>
				<div class="card col-md-5">
				  <%= image_tag 'alyssa.jpg', class: 'card-img-top', alt: 'Alyssa Barnes', title: 'Alyssa Barnes' %>
				  <div class="card-body">
				    <h5 class="card-title">Alyssa Barnes (Sulay), B.S. (Kinesiology)</h5>
				    <hr>
				    <p class="card-text">Owner/Coach</p>
				    <p class="card-text">Former Snatch bronze medalist (2015 Nationals)</p>
				    <p class="card-text">Former national-level Weightlifter</p>
				    <p class="card-text">Former member of the Catalyst Athletics seminar staff</p>
				    <p class="card-text">Former college softball player (San Jose State University)</p>
				    <%= mail_to 'alyssa@primeperformancesc.com', 'Contact Alyssa', class: 'btn btn-primary', title: 'Contact Alyssa' %>
				  </div>
				</div>
				<div class="col-md-10">
					<%= link_to "See packages <i class='fa fa-arrow-right fa-1x'></i>".html_safe, packages_path, class: 'btn btn-light see-packages-button', title: 'See training packages' %>
				</div>	
			</div>
		</div>
	</div>