<% title 'Coaches' %>
<% meta_tag :description, 'Meet the coaches of Prime Performance Strength & Conditioning' %>

<div id="coaches-page" class="home-section-3">		
	<h1 class="text-center">
		Coaches
	</h1>
	<hr>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 coach-section">
				  <div class="col-md-4">
				  	<%= image_tag 'blake_snatch1.jpg', class: 'card-img-top', alt: 'Blake Barnes', title: 'Blake Barnes' %>
				  		
				  	</div>
				  <div class="card-body col-md-6">
				    <h5 class="card-title">Blake Barnes, B.S. (Kinesiology)</h5>
				    <hr>
				    <p class="card-text">Owner/Coach</p>
				    <p class="card-text">Former strength & conditioning coach at Stanford University and East Central University</p>
				    <p class="card-text">USAW - L1 Sports Performance Coach</p>
				    <p class="card-text">National-level Olympic weightlifter</p>
				    <p class="card-text">Former collegiate football player (ECU)</p>
				    <p class="card-text">Owner: <%= link_to 'Oklahoma Weightlifting Club', 'https://www.oklahomaweightliftingclub.com', title: 'Oklahoma Weightlifting Club' %></p>
				    <%= mail_to 'blake@primeperformancesc.com', 'Contact Blake', class: 'btn btn-primary', title: 'Contact Blake' %>
				  </div>
				</div>
				<hr>
				<div class="col-md-12 coach-section">
				  <div class="col-md-4">
				  	<%= image_tag 'alyssa.jpg', class: 'card-img-top', alt: 'Alyssa Barnes', title: 'Alyssa Barnes' %>
				  		
				  	</div>				  
				  <div class="card-body col-md-6">
				    <h5 class="card-title">Alyssa Barnes (Sulay), B.S. (Kinesiology)</h5>
				    <hr>
				    <p class="card-text">Owner/Coach</p>
				    <p class="card-text">Former Snatch bronze medalist (2015 Nationals)</p>
				    <p class="card-text">Former national-level Weightlifter</p>
				    <p class="card-text">Former member of the Catalyst Athletics seminar staff</p>
				    <p class="card-text">Former college softball player (San Jose State University)</p>
				    <%= mail_to 'alyssa@primeperformancesc.com', 'Contact Alyssa', class: 'btn btn-primary', title: 'Contact Alyssa' %>
				  </div>
				</div>
				<hr>
				<div class="col-md-12 coach-section">
				  <div class="col-md-4">
				  	<%= image_tag 'chad_arnold.jpeg', class: 'card-img-top', alt: 'Chad Arnold', title: 'Chad Arnold' %>
				  		
				  	</div>
				  <div class="card-body col-md-6">
				    <h5 class="card-title">Chad Arnold</h5>
				    <hr>
				    <p class="card-text">Coach</p>
				    <p class="card-text">CrossFit Level 1 Trainer</p>
				    <p class="card-text">CrossFit competitor since 2013</p>
				    <p>Chad played football and baseball in high school and has a strong desire to coach and help people get the most out of their physical fitness. </p>
				    <%= mail_to 'info@primeperformancesc.com', 'Contact Chad', class: 'btn btn-primary', title: 'Contact Chad' %>
				  </div>
				</div>
				<hr>
				<div class="col-md-12 coach-section">
				  <div class="col-md-4">
				  	<%= image_tag 'serena.jpeg', class: 'card-img-top', alt: 'Serena Santoriello', title: 'Serena Santoriello' %>
				  		
				  	</div>
				  <div class="card-body col-md-6">
				    <h5 class="card-title">Serena Santoriello</h5>
				    <hr>
				    <p class="card-text">Coach</p>
				    <p class="card-text">USAW - L1 Sports Performance Coach</p>
				    <%= mail_to 'serena@primeperformancesc.com', 'Contact Serena', class: 'btn btn-primary', title: 'Contact Serena' %>
				  </div>
				</div>
				<hr>
				<div class="col-md-12 coach-section">
				  <div class="col-md-4">
				  	<%= image_tag 'mary_smith.jpeg', class: 'card-img-top', alt: 'Mary Smith', title: 'Mary Smith' %>
				  		
				  	</div>
				  <div class="card-body col-md-6">
				    <h5 class="card-title">Mary Smith</h5>
				    <hr>
				    <p class="card-text">Nutrition Coach</p>
				    <p class="card-text">Founder of <%= link_to 'Powerhouse Performance Nutrition Coaching', 'https://powerhousepnc.com/', title: 'Powerhouse PNC', target: '_blank', alt: 'Powerhouse PNC' %> (2014)</p>
				    <p class="card-text">Former long distance runner, collegiate athlete and current weightlifter and fitness coach</p>
				    <%= mail_to 'info@primeperformancesc.com', 'Contact Mary', class: 'btn btn-primary', title: 'Contact Mary' %>
				  </div>
				</div>
				<div class="col-md-10">
					<%= link_to "See packages <i class='fa fa-arrow-right fa-1x'></i>".html_safe, packages_path, class: 'btn btn-light see-packages-button', title: 'See training packages' %>
				</div>	
			</div>
		</div>
	</div>