
		<div class="home-section-1">
			
			<ul class="social-icons">
				<li class="nav_item"><%= link_to fa_icon('instagram', class: 'fa-2x'), 'https://www.instagram.com/primeperformancesc/', title: 'Follow on Us Instagram', target: '_blank' %></li>
				<li class="nav_item"><%= link_to fa_icon('facebook-square', class: 'fa-2x'), 'https://www.facebook.com/primeperformancesc/', title: 'Like on Us Facebook', target: '_blank' %></li>
			</ul>
		</div>
		
		<div class="wrapper">
			<ul class="nav justify-content-center">
						<li class="nav_item">
							<%= link_to 'I want to be awesome', contact_path, class: 'btn btn-primary' %>
						</li>
		
						<li class="nav_item">
						<%= link_to "I don't want to be awesome", root_path, class: 'btn btn-light' %>					
						</li>
		
					</ul>
			<div class="home-section-2">
				
					<h1>Mission Statement?</h1>
						<p class="lead mission-statement">
							<em>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</em>
						</p>
			</div>
		
			<div class="home-section-3">
				
					<h1>The Team</h1>
					<div class="container">
					<div class="row justify-content-center">
						<div class="card col-3" style="width: 18rem;">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Blake Barnes</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
						<div class="card col-3" style="width: 18rem;">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Alyssa Sulay</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
						<div class="card col-3" style="width: 18rem;">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Britni Tallman</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="home-section-4">
				
					<h1>Packages</h1>
				
			</div>
		</div>