
		<div class="home-section-1">
			
			<ul class="social-icons">
				<li class="nav_item"><%= link_to fa_icon('instagram', class: 'fa-2x'), 'https://www.instagram.com/primeperformancesc/', title: 'Follow on Us Instagram', target: '_blank' %></li>
				<li class="nav_item"><%= link_to fa_icon('facebook-square', class: 'fa-2x'), 'https://www.facebook.com/primeperformancesc/', title: 'Like on Us Facebook', target: '_blank' %></li>
			</ul>
			<div class="float-right">
				<% if admin_signed_in? %>
					<p class="primary-blue">Logged in as <%= current_admin.first_name %></p>
				<% end %>
			</div>
		</div>
		
		<div class="wrapper">
			<ul class="nav justify-content-center">
						<li class="nav_item">
							<%= link_to 'I want to be awesome', contact_path, class: 'btn btn-primary' %>
						</li>
		
						<li class="nav_item">
						<%= link_to "I don't want to be awesome", root_path, class: 'btn btn-light' %>					
						</li>
		
					</ul>
			<div class="home-section-2">
				
					<h1>Mission Statement?</h1>
						<p class="lead mission-statement">
							<em>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</em>
						</p>
			</div>
		
			<div class="home-section-3">
				
			<h1>The Team</h1>
				<div class="container">
					<div class="row justify-content-center">
						<div class="card col-md-3">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Blake Barnes</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
						<div class="card col-md-3">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Alyssa Sulay</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
						<div class="card col-md-3">
						  <%= image_tag 'logo_black.png', class: 'card-img-top', alt: 'card' %>
						  <div class="card-body">
						    <h5 class="card-title">Britni Tallman</h5>
						    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						    <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
						  </div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="home-section-4">				
				<h1>Packages</h1>
					<div class="container">
						<div class="row justify-content-center">
								<div class="card col-md-3">
								  <div class="card-body">
								    <h4 class="card-title"><strong>Basic Package</strong> - $99/month</h4>
								  </div>
								  <ul class="list-group list-group-flush">
								    <li class="list-group-item"><p>Unlimited access to classes</p></li>
								    <li class="list-group-item"><p>Access to open gym hours</p></li>
								  </ul>
								  <div class="card-body">
								    <%= link_to 'I want this', contact_path, class: 'btn btn-primary' %>
								  </div>
								</div>
							
								<div class="card col-md-3">
								  <div class="card-body">
								    <h4 class="card-title"><strong>"Train & Maintain"</strong> - $149/month</h4>
								  </div>
								  <ul class="list-group list-group-flush">
								    <li class="list-group-item"><p>Unlimited access to classes</p></li>
								    <li class="list-group-item"><p>Includes <strong>2 free chiropractor visits</strong> per month at <%= link_to 'F5 Chiropractic', 'https://www.f5chiropractic.com/', class: 'card-link', target: '_blank' %></p></li>
								    <li class="list-group-item"><p>Access to open gym hours</p></li>
								  </ul>
								<div class="card-body">
								   <%= link_to 'I want this', contact_path, class: 'btn btn-primary' %>
								  </div>
								</div>

								<div class="card col-md-3">
								  <div class="card-body">
								    <h4 class="card-title"><strong>"Train & Gain"</strong> - $149/month</h4>
								  </div>
								  <ul class="list-group list-group-flush">
								    <li class="list-group-item"><p>Unlimited access to classes</p></li>
								    <li class="list-group-item"><strong><p>Get a personal nutrition coach</p></strong></li>
								    <li class="list-group-item"><p>Access to open gym hours</p></li>
								    <li class="list-group-item"><p>Limited spots available!</p></li>
								  </ul>
								  <div class="card-body">
								    <%= link_to 'I want this', contact_path, class: 'btn btn-primary' %>
								  </div>
								</div>

									<div class="card text-center col-md-10">
									  <div class="card-header">
									    <h2><srong>Prime Package</srong></h2>
									  </div>
									  <div class="card-body">
									    <h5 class="card-title">$199/month</h5>
									    <p class="card-text">Enjoy the benefits of getting the best chiropractic care in the area as well as your own nutrition coach to keep you accountable with what you're eating!</p>
									  	<%= link_to 'I want this', contact_path, class: 'btn btn-primary btn-lg' %>
									  </div>
									  <div class="card-footer text-muted">
									    Only for people who are serious about their health
									  </div>
									</div>

									<p class="text-center">*Minimum 3-month commitment for "Train & Gain" and "Prime Package"</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>