<% title 'Training Packages' %>
<% meta_tag :description, 'Choose the right crossfit training package for you' %>

<div id="packages" class="home-section-4">				
	<h1>
		Training Packages
	</h1>
<hr>
	<div class="container">
		<div class="row justify-content-center">
			<!-- BASIC PACKAGE -->
				<div class="card col-md-3">
				  <div class="card-body">
				    <h4 class="card-title"><strong>Basic Package</strong></h4>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><p>Unlimited access to classes</p></li>
				    <li class="list-group-item"><p>Access to open gym hours</p></li>
				  </ul>
				  <div class="card-body">
				    <%= link_to 'I want this', contact_path, class: 'btn btn-primary', title: 'Contact us' %>
				  </div>
				</div>
			<!-- TRAIN AND MAINTAIN PACAKGE -->
				<div class="card col-md-3">
				  <div class="card-body">
				    <h4 class="card-title"><strong>"Train & Maintain"</strong></h4>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><p>Unlimited access to classes</p></li>
				    <li class="list-group-item"><p>Includes <strong>2 free chiropractor visits</strong> per month at <%= link_to 'F5 Chiropractic', 'https://www.f5chiropractic.com/', class: 'card-link', title: 'F5 Chiropractic', target: '_blank' %></p></li>
				    <li class="list-group-item"><p>Access to open gym hours</p></li>
				  </ul>
				<div class="card-body">
				   <%= link_to 'I want this', contact_path, class: 'btn btn-primary', title: 'Contact us' %>
				  </div>
				</div>
			<!-- TRAIN AND GAIN PACKAGE -->
				<div class="card col-md-3">
				  <div class="card-body">
				    <h4 class="card-title"><strong>"Train & Gain"*</strong></h4>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><p>Unlimited access to classes</p></li>
				    <li class="list-group-item"><strong><p>Get a personal nutrition coach</p></strong></li>
				    <li class="list-group-item"><p>Access to open gym hours</p></li>
				    <li class="list-group-item"><p>Limited spots available!</p></li>
				  </ul>
				  <div class="card-body">
				    <%= link_to 'I want this', contact_path, class: 'btn btn-primary', title: 'Contact us' %>
				  </div>
				</div>
			<!-- PRIME PACKAGE -->
					<div class="card text-center col-md-10">
					  <div class="card-header">
					    <h2><srong>Prime Package*</srong></h2>
					  </div>
					  <div class="card-body">
					    <p class="card-text">Enjoy the benefits of getting the best chiropractic care in the area as well as your own nutrition coach to keep you accountable with what you're eating!</p>
					  	<%= link_to 'I want this', contact_path, class: 'btn btn-primary btn-lg', title: 'Contact us' %>
					  </div>
					</div>

					<p class="text-center">*Minimum of 3 months if you'r working with the nutrition coach.</p>
				</div>
			</div>
</div>