<% title 'Training Packages' %>
<% meta_tag :description, 'Choose the right crossfit training package for you' %>

<div id="packages" class="home-section-4">				
	<h1><%= fa_icon "dumbbell", text: "Training Packages" %></h1>
<hr>
<div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Trial</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$1 <small class="text-muted">/ 2 weeks</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
            	<li><p><strong><u>Two weeks</u></strong> of full access to our group fitness classes and our weightlifting workshops</p></li>
              <li><p>Unlimited number of class visits</p></li>
              <li><p>Come in and try us out!</p></li>
            </ul>
            <%= link_to 'Get Started', get_started_path, class: 'btn btn-lg btn-block btn-outline-primary', title: 'Get Started' %>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Unlimited</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$115 <small class="text-muted">/ mo</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
            	<li><p>$125/mo for month-to-month</p></li>
            	<li><p>$115/mo with 6-month commitment</p></li>
              <li><p>Unlimited access to classes</p></li>
              <li><p>Access to open gym hours</p></li>
              <li><p>Free weightlifting workshops</p></li>
            </ul>
            <%= link_to 'Get Started', get_started_path, class: 'btn btn-lg btn-block btn-primary', title: 'Get Started' %>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">12 classes/month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$99 <small class="text-muted">/ mo</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
	            <li><p>$109/mo for month-to-month</p></li>
	            <li><p>$99/mo with 6-month commitment</p></li>
	            <li><p>Limited 12 classes per month</p></li>
	            <li><p>Access to open gym hours (counts against attendance)</p></li>
	            <li><p>Free weightlifting workshops</p></li>
            </ul>
            <%= link_to 'Get Started', get_started_path, class: 'btn btn-lg btn-block btn-primary', title: 'Get Started' %>
          </div>
        </div>
      </div>

      <hr>

      <h1><%= fa_icon "plus", text: "Add Ons" %></h1>
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Chiropractic Session</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">+$50 <small class="text-muted">/ month</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><p>2 Chiropractic sessions at <%= link_to "F5 Chiropractic", 'https://www.f5chiropractic.com', target: '_blank', title: 'F5 Chiropractic', alt: 'F5 Chiropractic' %></p></li>
              <li><small>*The initial assessment session costs $50 then it's $25 for every session after that</small></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Personal Nutrition Coaching</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">+$80 <small class="text-muted">/ month</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><p>Get one-on-one nutrition coaching</p></li>
              <li><p>Weekly accountability</p></li>
              <li><small>*Minimum of 3 months commitment</small></li>
            </ul>
          </div>
        </div>
        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Olympic Weightlifting</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">+$50 <small class="text-muted">/ month</small></h1>
            <hr>
            <ul class="list-unstyled mt-3 mb-4">
              <li><p>Work on your technique under an experienced coach in a group setting at <%= link_to "Oklahoma Weightlifting Club", 'https://www.oklahomaweightliftingclub.com', target: '_blank', title: 'Oklahoma Weightlifting Club', alt: 'Oklahoma Weightlifting Club' %></p></li>
              <li><small>*Price is in addition to a Prime Performance membership</small></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div>