<div class="container">
	<p id="notice"><%= notice %></p>

	<h1><%= @nutrition_client.name.titleize %></h1>
	<p>
		<%= @nutrition_client.email %>
	</p>

	<hr>
	<% nc = @nutrition_client %>
	<h5>Nutrition Coach: <%= nc.nutrition_coach.try(:name).titleize %></h5>
	<%= nc.protein %>
	<%= nc.fat %>
	<%= nc.carbs %>
</div>