<p id="notice"><%= notice %></p>

<h1><%= @nutrition_client.name %></h1>
<p><%= @nutrition_client.email %></p>
<hr>
<% nc = @nutrition_client %>
<%= nc.name(nutrition_coach, nc) %>
<%= nc.protein %>
<%= nc.fat %>
<%= nc.carbs %>

<%= nc.active %>

<%= link_to 'Edit', edit_nutrition_client_path(@nutrition_client) %> |
<%= link_to 'Back', nutrition_clients_path %>
