
  <!-- Footer -->
  <footer class="page-footer font-small cyan darken-3">

    <!-- Grid column -->
    <div class="col-md-12 py-5">
      <div class="waiver-button">
        <%= link_to 'Sign Waiver Now', 'https://app.wodify.com/Waivers/SignWEntry.aspx?Token=5C5E471B8B1A254235DEC9D103597D8D8C449C2E781FF40F727CEF561C0C0D9F', class: 'btn btn-secondary' %>
      </div>
      <div class="mb-5 flex-center">

        <!-- Facebook -->
        <a class="fb-ic">
          <%= link_to fa_icon('facebook', class: 'fa-3x'), 'https://www.facebook.com/primeperformancesc', title: 'Like us on Facebook', alt: 'facebook' %>
        </a>
        <!--Instagram-->
        <a class="ins-ic">
          <%= link_to fa_icon('instagram', class: 'fa-3x'), 'https://www.instagram.com/primeperformancesc', title: 'Follow us on Instagram', alt: 'instagram' %>
        </a>
      </div>
    </div>
    <!-- Grid column -->
    <div class="img-links">
      <div class="col-md-6">
            <%= link_to image_tag('owc_logo.png', class: 'owc_logo'), 'https://www.oklahomaweightliftingclub.com', target: '_blank', title: 'Oklahoma Weightlifting Club', alt: 'Oklahoma Weightlifting Club' %>
      </div>
      <div class="col-md-6"><%= link_to image_tag('f5_cover_photo.jpg', class: 'f5_logo'), 'https://www.f5chiropractic.com', target: '_blank', title: 'F5 Chiropractic', alt: 'F5 Chiropractic' %>
            </div>
    </div>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <p>2001 W Detroit St Suite A, Broken Arrow, OK 74012</p>
        <p>© <%= Date.current.year %> Copyright Prime Performance S&C, LLC</p>
      </div>
      <!-- Copyright -->

    </footer>
    <!-- Footer -->
    