<i class="fa fa-bars fa-2x menu-button"></i>

<nav class="main-menu">
  <% if current_admin %>
    <p class="primary-blue">Logged in as <%= current_admin.name %></p>
  <% end %>
  <ul>
    <li class="<%= 'active' if current_page?(root_path) %>">
      <%= link_to 'Home', root_path %>
    </li>
  	<li class="<%= 'active' if current_page?(coaches_path) %>">
      <%= link_to 'Coaches', coaches_path %>
    </li>
    <li class="<%= 'active' if current_page?(packages_path) %>">
      <%= link_to 'Packages', packages_path %>
    </li>
    <li class="<%= 'active' if current_page?(contact_path) %>">
      <%= link_to 'Contact', contact_path %>
    </li>
    <li class="<%= 'active' if current_page?(blogs_path) %>">
      <%= link_to 'Blog', blogs_path %>
    </li>
    <li class="<%= 'active' if current_page?(workouts_path) %>">
      <%= link_to "Today's Workout", workout_path(id: Date.today) %>
      <!-- MAYBE ADD... -->
      <!-- unless Date.today.sunday? -->
    </li>
    <li>
      <%= link_to 'Sign Out', destroy_admin_session_path, method: :delete if current_admin %>
    </li>
  </ul>
</nav>

<div class="main-menu-screen sliding-panel-fade-screen"></div>