<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TVTP5NX');</script>
<!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124676960-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-124676960-1');
      </script>
      <% end %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GXns96JWYgAk0qlcE5yK4xJW1sacznmaaQydVQRg7XU" />
    <meta name="msvalidate.01" content="68BC18ACAE6DF13EEE5E057AC8AA2BF7" />
    <meta name="description" content="<%= yield_meta_tag(:description, 'Prime Performance is Broken Arrow\'s best source for Olympic Weightlifting, CrossFit, Strength and Conditioning for athletes, and general strength development.') %>">
    <meta name="keywords" content="crossfit, broken arrow, tulsa, oklahoma">
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Prime Performance Strength & Conditioning | Broken Arrow
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '1878536828934380'); 
    fbq('track', 'PageView');
    fbq('track', 'ViewContent');
    </script>
    <noscript>
     <img height="1" width="1" 
    src="https://www.facebook.com/tr?id=1878536828934380&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVTP5NX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= render 'layouts/navbar' unless current_page?(form_submitted_path) %>
    <%= yield %>
    <%= render 'layouts/messages' %>
    <% unless Rails.env.development? && current_page?(form_submitted_path) %>
      <!-- Start of HubSpot Embed Code -->
        <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5631484.js"></script>
      <!-- End of HubSpot Embed Code -->
    <% end %>
  </body>
  <%= render 'layouts/footer' unless current_page?(form_submitted_path) %>
</html>
