<!DOCTYPE html>
<html lang="en">
  <head>
    <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124676960-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-124676960-1');
      </script>
      <% end %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="GXns96JWYgAk0qlcE5yK4xJW1sacznmaaQydVQRg7XU" />
    <meta name="msvalidate.01" content="68BC18ACAE6DF13EEE5E057AC8AA2BF7" />
    <meta name="description" content="<%= yield_meta_tag(:description, 'Prime Performance is Oklahoma\'s best source for Olympic Weightlifting, Strength and Conditioning for athletes, and general strength development through group training and Personal Training. We help aleviate back pain, increase strength, provide nutrition consulting and more.') %>">
    <meta name="keywords" content="crossfit, broken arrow, tulsa, oklahoma">
    <title>
      <%= if content_for?(:title) then yield(:title) + ' | ' end %>
      Prime Performance | Strength & Conditioning
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/messages' %>
  </body>
  <%= render 'layouts/footer' %>
</html>
